<%= render partial: "shared/navbarrenter" %>
<%
=begin%>

<h1><%= @product.name %></h1>

<p><%= @product.rent %></p>
<p><%= @product.status %></p>

    <image src="<%=(url_for(@product.image))%>">

<h1>Rating:<%= @averagerating%></h1>
<ul>
  <% @ratings.each do |rating| %>
   <%= rating.rating%><br>
   <%=rating.comment%><br>
   <br>
  <% end %>
</ul>
<li><%= link_to "Add", apply_path(@product.id) %></li> 
<%
=end%>
<div class="container">
  <div class="row">
    <div class="col-md-6" style="top:20%;">
      <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
        <center> 
          <div class="item active">
            <img src="<%=(url_for(@product.image))%>" alt="Los Angeles" style="width:50%;height:50%;">
          </div>
        </center>
      </div>
    </div>
    <div class="col-md-6">
      <center><h1 style="font-size: 18px;">AMOUNT:RS <%=@product.rent%></h1></center>
      <br>
      <h1 style="font-size: 18px;">Details</h1>
      <p><%=@product.name%></p>
      <h1 style="font-size: 18px; border-style: solid;padding: .3cm;"><%=@product.description%></h1>
      <p>Ratting:<%=@averagerating%></p>
      <ul>
        <% @ratings.each do |rating| %>
          <%= rating.rating%><br>
          <%=rating.comment%><br>
          <br>
        <% end %>
      </ul>
    </div>
  </div>
</div>
