<div class="container">
  <div ><br><br><br>

            <div class="row">
              <div class="col-sm-4" style="background-color: #FF5733 ; height: 17.3cm;">
                <br><br><br>
                <h1 style="color: white;">Welcome To</h1>
                <div class="logo" style="color: white;">REN<span style="color: greenyellow;">T</span>OGO</div>
                </h1><br><br>
                <h4 style="color: #E5E4E2;">Rentogo Is Your Ticket To A Better Lifestyle.</h4>
                <br><br>
                <h5 style="color: #E5E4E2;">Safety precautions during COVID-19. We’re taking additional steps and precautionary measures to protect our community from COVID-19.  
                  </h5>
                  <br><br><br>
                 
              </div>

              <div class="col-sm-8" style="background-color: white;height: 17.8cm;">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                   <center> <h1 style="color: #581845;">SIGNUP</h1></center>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

 <%= fields_for :role do |role| %>
  <div class="field">
    <%= role.label :role %><br />
    <%= role.select(:role,["Select Role",'Owner','Renter'],{}) %>
  </div>
  <% end %>

  <div id="renter_attributes">
    <%=fields_for :renter_attributes do |renter| %>
      <div class="my-2 form-group field">
        <%= renter.label :aadhar %><br />
        <%= renter.text_field :aadhar %>
      </div>
      <%end%>
      </div>
      <div id="user_attributes">
    <%=fields_for :user_attributes do |user| %>
      <div class="my-2 form-group field">
        <%= user.label :address %><br />
        <%= user.text_field :address %>
      </div>
      <%end%>
      </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<%= javascript_include_tag 'sign_up' %>
</div>
</div>
</div>
