<%= render partial: "shared/navbar" %>
<div class="container">
<br><br>
<div class="row">
<div class="col-sm-4" style="background-color: #FF5733 ; height: 10cm;">
                <br><br><br>
                <h1 style="color: white;">Welcome To</h1>
                <div class="logo" style="color: white;">REN<span style="color: greenyellow;">T</span>OGO</div>
                </h1><br><br>
                <h3 style="color: #E5E4E2;">Share your thoughts with others.</h3>
                <br><br>
                
              
              </div>
<div class="col-sm-8" style="background-color: white;height: 15.3cm;">
                   <h1 style="color: #581845;">Provide Rating</h1>

<%= form_with url:rratings_path, method: :post do |form| %>

  <div>
    <%= form.hidden_field :renter_id, value: @renter.id %>
    <div>
    <%= form.label :rating %><br>
<%= form.number_field :rating, in: 1..5, step: 0.5 %>  </div>
    <div>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
  </div>

    
  </div>

  <div>
    <%= form.submit "Submit"%>
  </div>
  </div>
<% end %>
</div>
</div>
</div>