<%= render partial: "shared/navbarrenter" %>
<%
=begin%>
 <center>
<h1>Your History</h1>
<ul>
  <% @rentals.each do |rental| %> 
    <div class="card">
      <%product=Product.find(rental.product_id)%>
      <li>
        <%= product.name %> <br>
        <%= product.rent%> <br>
        <% if rental.payment_history%>
          Bought
        <%else%>
          <%= link_to "Buy", payment_path(rental: rental,product: product)%>
        <%end%>
        <br>
      </li>
    </div>
    <br><br>
  <% end %>
</ul>
</center> 
<%
=end%>

 <div class="container">
  <% @rentals.each do |rental| %> 
      <%product=Product.find(rental.product_id)%>
      <div class="row">
      <div class="col-md-6" style="top:20%;">
      <br><br><br><br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
            <center> 
              <div class="item active">
                <img src="<%=(url_for(product.image))%>" alt="Los Angeles" style="width:50%;height:50%;">
              </div>
            </center>
        </div>
      </div>
      <div class="col-md-6">
        <center><h1 style="font-size: 18px;">AMOUNT:RS <%=product.rent%></h1></center>
        <br>
        <h1 style="font-size: 18px;">Details</h1>
        <p><%=product.name%></p>
        <h1 style="font-size: 18px; border-style: solid;padding: .3cm;"><%=product.description%></h1>
        
        <% if rental.payment_history%>
          Bought
        <%else%>
          <li style="background-color: #FF5733;display: block;  list-style-type: none; color: white; border-style: none; width: 10cm; height: 1cm;margin-top: 0.7cm;"><center><%= link_to "buy",  payment_path(rental: rental,product: product) %></center></li>
        <%end%>
        <br>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <br>
      </div>
    </div>
    <% end %>
</div>
 
