<%= render partial: "shared/navbar" %>
<%
=begin%>
 <h1><%= @product.name %></h1>

<p><%= @product.rent %></p>
<p><%= @product.status %></p>
    <image src="<%=(url_for(@product.image))%>">
  <li><%= link_to "View Aplicants", view_path(@product) %></li>
  <li><%= link_to "Edit", edit_product_path(@product) %></li>
  <li><%= link_to "Delete", product_path(@product), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul> 
<%
=end%>
<div class="container">
  <div class="row"> 
    <div class="col-md-6" style="top:20%;">
      <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
          <center> 
            <div class="item active">
              <img src="<%=(url_for(@product.image))%>" alt="Los Angeles" style="width:100%;height:50%;">
            </div>
          </center>
      </div>
    </div>
    <div class="col-md-6">
      <center><h1 style="font-size: 18px;">AMOUNT:RS <%=@product.rent%></h1></center>
      <br>
      <h1 style="font-size: 18px;">Status: <%=@product.status%></h1>

      <h1 style="font-size: 18px;">Details:</h1>
      <p><%=@product.name%></p>
      <h1 style="font-size: 18px; border-style: solid;padding: .3cm;"><%=@product.description%></h1>
      <li style="background-color: #FF5733;display: block;  list-style-type: none; color: white; border-style: none; width: 10cm; height: 1cm;margin-top: 0.7cm;"><center><%= link_to "View Aplicants", view_path(@product) %></center></li>
      <li style="background-color: #FF5733;display: block;  list-style-type: none; color: white; border-style: none; width: 10cm; height: 1cm;margin-top: 0.7cm;"><center><%= link_to "View history", producthistory_path(@product) %></center></li>
      <li style="background-color: #FF5733;display: block;  list-style-type: none; color: white; border-style: none; width: 10cm; height: 1cm;margin-top: 0.7cm;"><center><%= link_to "Edit", edit_product_path(@product) %></center></li>
      <li style="background-color: #FF5733;display: block;  list-style-type: none; color: white; border-style: none; width: 10cm; height: 1cm;margin-top: 0.7cm;"><center><%= button_to "Remove", product_path(@product), method:"delete", style:"border:none; outline:none;background-color: #FF5733;color: black;"%></center></li>
    </div>
  </div>
</div>